/* .el-table th.el-table__cell {
  background-color: #3c145b !important;
}
.el-table .el-table__cell {
  padding: 14px 0 !important;
}
.el-table thead {
  color: #ffffff !important;
}
.el-table__header-wrapper {
  border-top-right-radius: 15px !important;
  border-top-left-radius: 15px !important;
} */

/* Select */

.el-checkbox__inner {
  width: 20px !important;
  height: 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-checkbox__inner::after {
  left: 6px !important;
  width: 4px !important;
  height: 11px !important;
}
.el-drawer__header {
  margin-bottom: 0px !important;
}

[type="text"]:focus {
  box-shadow: none !important;
}
.el-textarea__inner {
  resize: none !important;
}
.carousel__slide {
  height: 57rem !important;
}
